@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/HelveticaNeue-Light.woff'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/HelveticaNeue-Medium.woff'), url('../fonts/HelveticaNeue-Medium.woff') format('woff');
}

