/**
  Variables
 */
$blue: #005175;
$light-blue: #1091cc;
$button-blue: #0077c0;
$soft-blue: #eaf6fa;
$gray: #cacaca;
$light-gray: #cbcbcb;
$soft-gray: #d8d8d8;
$black: #3e3d3f;
$red: #da3535;

$default-font: 'Helvetica Neue Light', sans-serif;
$secondary-font: 'Helvetica Neue', sans-serif;
